<!-- Header -->
<div id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 wow bounceInLeft">
                <h1 class="wow fadeInUp text-center"> 探索未<span class="huge"> 知, </span> 创造奇迹</h1>
                <p class="text-center">用知识和行动颠覆平庸，用有限生命创造无限价值</p>
                <div class="text-center ">

                    <button class="btn btn-lg btn-danger">登  船 出 海</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow bounceInRight">
                <%= image_tag("pirate_ship.png") %>
            </div>
        </div>
    </div>
</div>
<!-- End Header -->
<!-- Services -->
<div id="services" class="services">
    <div class="container">
        <h2 class="wow fadeInUp">你 将 得 到</h2>
        <p class="wow fadeInUp" data-wow-delay="0.4s">海盗学院打开方式</p>
        <div class="row">
            <div class="col-lg-4 col-md-4 wow fadeInLeft" data-wow-delay="1.8s"><%= fa_icon("desktop") %>
                <h4>1</h4>
                <p>火箭般飞速个人成长</p>
                <p>颠覆对世界的认知</p>
            </div>
            <div class="col-lg-4 col-md-4 wow fadeInLeft" data-wow-delay="1.4s"><%= fa_icon("mobile") %>
                <h4>2</h4>
                <p>勇于用知识武装头脑</p>
                <p>用行动探索的队友</p>
            </div>
            <div class="col-lg-4 col-md-4 wow fadeInLeft" data-wow-delay="0.8s"><%= fa_icon("database") %>
                <h4>3</h4>
                <p>一票奇迹践行者</p>
                <p>倾心分享成功经验</p>
            </div>
        </div>
    </div>
</div>
<!-- End Services -->
<!-- Pricing -->
<div class="same">


<div id="pricing" class="pricing">
    <div class="container">
        <div class="row">
            <h2 class="wow fadeInUp">最新课程</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">实 力 派 演 绎</p>
            <div class="col-md-4 wow flipInY" data-wow-delay="0.8s">
                <div class="packages">
                    <%= image_tag("zion1.png") %>
                    <h4>Rails新手Debug专修班</h4>
                    <h4>船长：撸码高手文志鹏</h4>
                    <h1>399元</h1>
                    <b>2月25日出海</b>
                    <hr>
                    <li>已有998船员</li>
                    <li>每月 1 期</li>
                    <li>线上直播</li>

                    <button class="btn btn-danger">买票上船</button>
                </div>
            </div>
            <div class="col-md-4 wow flipInY" data-wow-delay="0.8s">
                <div class="packages">
                    <%= image_tag("maggie.jpeg") %>
                    <h4>7天文案标题党特训班</h4>
                    <h4>船长：标题党乌龙明月</h4>
                    <h1>199元</h1>
                    <b>3月2日出海</b>
                    <hr>
                    <li>已有689船员</li>
                    <li>每月 2 期</li>
                    <li>线上直播</li>

                    <button class="btn btn-danger">买票上船</button>
                </div>
            </div>
            <div class="col-md-4 wow flipInY" data-wow-delay="0.8s">
                <div class="packages">
                    <%= image_tag("mg.png") %>
                    <h4>20天新世界盲品班</h4>
                    <h4>船长：品酒师乌龙明月</h4>
                    <h1>99元</h1>
                    <b>3月？日出海</b>
                    <hr>
                    <li>已有896船员</li>
                    <li>每月 1 期</li>
                    <li>线上直播</li>

                    <button class="btn btn-danger">买票上船</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Pricing -->
<!-- Team -->
<div id="team" class="team">
    <div class="container">
        <row>
            <h2 class="wow fadeInUp">奇迹论坛</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">晒一晒你的收获</p>
            <div class="col-md-4 wow fadeInLeft" data-wow-delay="2s">
                <%= image_tag("xdite.png", class: "img-circle") %>
                <h4> XDite</h4>
                <b>Mater级别神人</b>
                <p> 我在线上跟文志鹏ZION学习Houston腔的英语，已经彻底治好了我的台湾英语口音，连扎克伯格都说地道，偷笑中 。</p>
                <%= link_to(fa_icon("facebook"),'#') %>
                <%= link_to(fa_icon("twitter"),'#') %>
                <%= link_to(fa_icon("linkedin"),'#') %>
                <%= link_to(fa_icon("pinterest"),'#') %>
            </div>
            <div class="col-md-4 wow fadeInLeft" data-wow-delay="1.6s">
                <%= image_tag("李笑来.png", class: "img-circle") %>
                <h4>李姓程序员</h4>
                <b>比特币首富</b>
                <p> 在跟文志鹏zion学代码后，3天能解99个bug，编程大赛成了人人抢的神队友，顺利夺得Aaron座椅，从此撸代码Debug的日子似神仙。</p>
                <%= link_to(fa_icon("facebook"),'#') %>
                <%= link_to(fa_icon("twitter"),'#') %>
                <%= link_to(fa_icon("linkedin"),'#') %>
                <%= link_to(fa_icon("pinterest"),'#') %>
            </div>
            <div class="col-md-4 wow fadeInLeft" data-wow-delay="1.2s">
                <%= image_tag("yy.png", class: "img-circle") %>
                <h4>YY</h4>
                <b>全栈营讲师</b>
                <p> 一个月前，我跟乌龙明月学品酒，20天竟然能够组一个盲品大赛，顺便喝倒了费奔和秦峰。情人节这天还用了香槟杯底座开酒耍帅， 赢得了女神的芳心 。</p>
                <%= link_to(fa_icon("facebook"),'#') %>
                <%= link_to(fa_icon("twitter"),'#') %>
                <%= link_to(fa_icon("linkedin"),'#') %>
                <%= link_to(fa_icon("pinterest"),'#') %>
            </div>
        </row>
    </div>
    <br/>
    <br/>
    <br/>
    <button class="btn btn-danger">写航海日志</button>
</div>
</div>
<!-- End Team -->
<!-- Client 这一部分可以删掉，有点多余-->
<!--
<div id="client" class="client">
    <div class="container">
        <div class="row">
            <h2 class="wow fadeInUp">合作伙伴</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">为你的梦想护航</p>
            <div class="col-md-3 wow fadeInLeft" data-wow-delay="2s">
                <li><%= image_tag("honda.png") %></li>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-delay="1.6s">
                <li><%= image_tag("nike.png") %></li>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-delay="1.2s">
                <li><%= image_tag("wordpress.png") %></li>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                <li><%= image_tag("digg.png") %></li>
            </div>
        </div>
    </div>
</div>
 -->
<!-- End Client -->
<!-- Contact -->
<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <h2 class="wow fadeInUp">联系我们</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">快来跟我们联系吧</p>
            <div class="col-md-6">
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="0.8s">
                    <span class="input-group-addon" id="sizing-addon1"><%= fa_icon("user") %></span><input type="text" class="form-control" placeholder="Full Name">
                </div>
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.2s">
                    <span class="input-group-addon" id="sizing-addon1"><%= fa_icon("envelope") %></span><input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.6s">
                    <span class="input-group-addon" id="sizing-addon1"><%= fa_icon("phone") %></span><input type="text" class="form-control" placeholder="Phone Number">
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="2s">
                <div class="input-group">
                    <textarea name="name" rows="6" cols="80" class="form-control"></textarea>
                </div>
                <button class="btn btn-lg wow fadeInUp" data-wow-delay="2.4s">Submit Your Message</button></div>
        </div>
    </div>
</div>
</div>
<!-- End Contact -->
