<!-- Header -->
<div id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 wow bounceInLeft">
                <h1> 探索未知 ，创造奇迹</h1>
                <p>用知识和行动颠覆平庸，用有限生命创造无限价值</p>
                <button class="btn btn-lg btn-primary">买票上船</button>
                <button class="btn btn-lg btn-success">最新商品</button>
            </div>
            <div class="col-lg-6 col-md-6 wow bounceInRight">
				<%= image_tag("pirate_ship.png") %>
			</div>
        </div>
    </div>
</div>

<!-- End Header -->

<!-- Services -->

<div id="services" class="services">
	<div class="container">
		<h2 class="wow fadeInUp">你将得到</h2>
		<p class="wow fadeInUp" data-wow-delay="0.4s">海盗学院打开方式</p>
		<div class="row">
			<div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.8s"><%= fa_icon("desktop") %>
				<h4>1</h4>
				<p>火箭般飞速个人成长</p>
        <p>颠覆对世界的认知</p>
			</div>
			<div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.4s"><%= fa_icon("mobile") %>
				<h4>2</h4>
				<p>勇于用知识武装头脑</p>
        <p>用行动探索的队友</p>
			</div>
			<div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s"><%= fa_icon("database") %>
				<h4>3</h4>
				<p>一票奇迹践行者</p>
        <p>倾心分享成功经验</p>
			</div>
		</div>
	</div>
</div>

<!-- End Services -->

<!-- Pricing -->

<div id="pricing" class="pricing">
	<div class="container">
		<div class="row">
			<h2 class="wow fadeInUp">最新课程</h2>
			<p class="wow fadeInUp" data-wow-delay="0.4s">实力派演绎</p>
			<div class="col-md-3 wow flipInY" data-wow-delay="0.8s">
				<div class="packages">
					<h4>Bronze</h4>
					<h1>999元</h1>
					<b>每月</b>

					<hr>
					<li>100 Users</li>
					<li>SSL Certificate</li>
					<li>Online Support</li>
					<li>300GB Diskspace</li>
					<li>100 Email address</li>
					<li>MySQL Database</li>
					<button class="btn btn-success">Get Started</button>
				</div>
			</div>
			<div class="col-md-3 wow flipInY" data-wow-delay="1.2s">
				<div class="packages">
					<h4>Silver</h4>
					<h1>19.99</h1>
					<b>Monthly</b>
					<p>出乎想象的实用</p>
					<hr>
					<li>100 Users</li>
					<li>SSL Certificate</li>
					<li>Online Support</li>
					<li>300GB Diskspace</li>
					<li>100 Email address</li>
					<li>MySQL Database</li>
					<button class="btn btn-success">Get Started</button>
				</div>
			</div>
			<div class="col-md-3 wow flipInY" data-wow-delay="1.6s">
				<div class="packages">
					<h4>Gold</h4>
					<h1>29.99</h1>
					<b>Monthly</b>
					<p>出乎想象的实用</p>
					<hr>
					<li>100 Users</li>
					<li>SSL Certificate</li>
					<li>Online Support</li>
					<li>300GB Diskspace</li>
					<li>100 Email address</li>
					<li>MySQL Database</li>
					<button class="btn btn-success">Get Started</button>
				</div>
			</div>
			<div class="col-md-3 wow flipInY" data-wow-delay="2s">
				<div class="packages">
					<h4>Platium</h4>
					<h1>39.99</h1>
					<b>Monthly</b>
					<p>出乎想象的实用</p>
					<hr>
					<li>100 Users</li>
					<li>SSL Certificate</li>
					<li>Online Support</li>
					<li>300GB Diskspace</li>
					<li>100 Email address</li>
					<li>MySQL Database</li>
					<button class="btn btn-success">Get Started</button>
				</div>
			</div>
		</div>
	</div>
</div>

 <!-- End Pricing -->

  <!-- Team -->

  <div id="team" class="team">
      <div class="container">
          <row>
              <h2 class="wow fadeInUp">Meet Our Team</h2>
              <p class="wow fadeInUp" data-wow-delay="0.4s">强大阵容，真正有实力的老司机们</p>
              <div class="col-md-3 wow fadeInLeft" data-wow-delay="2s">
                  <%= image_tag("header6.png", class: "img-circle") %>
                  <h4> John Doe</h4>
                  <b>CEO and Founder</b>
                  <p> 神奇船长，多次出生入死，身临绝境。依然夺宝而归。</p>
                  <%= link_to(fa_icon("facebook"),'#') %>
                  <%= link_to(fa_icon("twitter"),'#') %>
                  <%= link_to(fa_icon("linkedin"),'#') %>
                  <%= link_to(fa_icon("pinterest"),'#') %>
              </div>
              <div class="col-md-3 wow fadeInLeft" data-wow-delay="1.6s">
                  <%= image_tag("header6.png", class: "img-circle") %>
                  <h4> John Doe</h4>
                  <b>CEO and Founder</b>
                  <p> 神奇船长，多次出生入死，身临绝境。依然夺宝而归。</p>
                  <%= link_to(fa_icon("facebook"),'#') %>
                  <%= link_to(fa_icon("twitter"),'#') %>
                  <%= link_to(fa_icon("linkedin"),'#') %>
                  <%= link_to(fa_icon("pinterest"),'#') %>
              </div>
              <div class="col-md-3 wow fadeInLeft" data-wow-delay="1.2s">
                  <%= image_tag("header6.png", class: "img-circle") %>
                  <h4> John Doe</h4>
                  <b>CEO and Founder</b>
                  <p> 神奇船长，多次出生入死，身临绝境。依然夺宝而归。</p>
                  <%= link_to(fa_icon("facebook"),'#') %>
                  <%= link_to(fa_icon("twitter"),'#') %>
                  <%= link_to(fa_icon("linkedin"),'#') %>
                  <%= link_to(fa_icon("pinterest"),'#') %>
              </div>
              <div class="col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                  <%= image_tag("header6.png", class: "img-circle") %>
                  <h4> John Doe</h4>
                  <b>CEO and Founder</b>
                  <p> 神奇船长，多次出生入死，身临绝境。依然夺宝而归。</p>
                  <%= link_to(fa_icon("facebook"),'#') %>
                  <%= link_to(fa_icon("twitter"),'#') %>
                  <%= link_to(fa_icon("linkedin"),'#') %>
                  <%= link_to(fa_icon("pinterest"),'#') %>
              </div>
          </row>
      </div>
  </div>

 <!-- End Team -->

  <!-- Client -->

  <div id="client" class="client">
      <div class="container">
          <div class="row">
              <h2 class="wow fadeInUp">Trusted by</h2>
              <p class="wow fadeInUp" data-wow-delay="0.4s">We are proud to be the partners of these big companies</p>
              <div class="col-md-3 wow fadeInLeft" data-wow-delay="2s">
                  <li><%= image_tag("honda.png") %></li>
              </div>
              <div class="col-md-3 wow fadeInLeft" data-wow-delay="1.6s">
                  <li><%= image_tag("nike.png") %></li>
              </div>
              <div class="col-md-3 wow fadeInLeft" data-wow-delay="1.2s">
                  <li><%= image_tag("wordpress.png") %></li>
              </div>
              <div class="col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                  <li><%= image_tag("digg.png") %></li>
              </div>
          </div>
      </div>
  </div>

<!-- End Client -->

<!-- Contact -->

<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <h2 class="wow fadeInUp">Contact</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">快来跟我们联系吧</p>
            <div class="col-md-6">
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="0.8s">
                    <span class="input-group-addon" id="sizing-addon1"><%= fa_icon("user") %></span><input type="text" class="form-control" placeholder="Full Name">
                </div>
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.2s">
                    <span class="input-group-addon" id="sizing-addon1"><%= fa_icon("envelope") %></span><input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.6s">
                    <span class="input-group-addon" id="sizing-addon1"><%= fa_icon("phone") %></span><input type="text" class="form-control" placeholder="Phone Number">
                </div>
            </div>
            <div class="col-md-6 wow fadeInUp" data-wow-delay="2s">
                <div class="input-group">
                <textarea name="name" rows="6" cols="80" class="form-control"></textarea>
            </div><button class="btn btn-lg wow fadeInUp" data-wow-delay="2.4s">Submit Your Message</button></div>
        </div>
        </div>
    </div>
</div>

 <!-- End Contact -->
