<div class="row">
  <div class="col-md-12">
    <h2>Order Details</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">Product details</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <%= @product_lists.each do |product_list| %>
          <tr>
            <td><%= product_list.product_name %></td>
            <td><%= product_list.product_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="total clearfix">
      <span class="pull-right">Total <%= @order.total %> USD</span>
    </div>
    <hr>
    <h2> Delivery Info</h2>
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td>Purchaser</td>
        </tr>
        <tr>
          <td><%= @order.billing_name %> - <%= order.billing_address %></td>
        </tr>
        <tr>
          <td>Recipent</td>
        </tr>
        <tr>
          <td><%= @order.shipping_name %> - <%= @order.shipping_address %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
