<h2>My Favorite Products</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Remove Favorite</th>
    </tr>
  </thead>
  <tbody>
    <% @favorites.each do |fav| %>
      <tr>
        <td>
            <%= link_to product_path(fav.product) do %>
              <% if fav.product.image.present? %>
                <%= image_tag(fav.product.image.thumb.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
            <%= fav.product.title %> $ <%= fav.product.price %></td>
        <td><%= link_to("Unfavorite", favorite_path(fav.product), method: :delete) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
