<div class="container">
  <div class="content">
    <div class="banner">
      <div class="spacing-top">
        <h1><span class="lead">世界那么大！带你去看看。</span>即刻登船，到知识的海洋里打捞宝藏。</h1>
        <p></p>
      </div>
    </div>
    <%#= render "carousel" %>
    <div class="category-bar">
      <div class="spacing-top">
        <div class="search">
          <%= search_form_for @q, :builder => SimpleForm::FormBuilder, class:"search_form" do |f| %>
            <!-- <%= f.label :Search, class: "h2"%> -->
            <div class="search_form_content">
              <%= f.search_field :title_or_description_cont, placeholder: "请在此输入搜索内容", class: "search_field" %>
            </div>
            <div class="search_form_button">
              <%= f.submit "search",class: "btn btn-lg btn-info" %>
            </div>
          <% end %>
        </div>
      </div>
      <!-- nav-tabs -->
      <div class="spacing-top">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="all" href="#home">All</a></li>
          <% @categories.each do |c|%>
            <li><a data-toggle="tab" href="#<%= c.id %>"><%= c.name %></a> </li>
          <% end %>
        </ul>
      </div>
      <!-- End nav-tabs -->
      <div class="spacing-top">
        <!-- tab-content -->
        <div class="tab-content">
          <!-- first tab -->
          <div class="tab-pane fade in active" id="home">
            <div class="content-md col-md-12" style="text-center;">
              <div class="row">
                <% @products.each do |product| %>
                  <div class="col-xs-10 col-sm-4 col-md-3" style="margin-bottom: 30px;">
                    <%= render_product_image(product) %>
                    <%= product.title %><span style="color:#ef0568;">  ￥<%= product.price %></span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <!-- next tab_s -->
          <% @categories.each do |c| %>
            <div class="tab-pane fade" id="<%= c.id %>">
              <div class="content-md col-md-12" style="text-center;">
                <div class="row">
                  <% instance_variable_get("@products_#{c.id}").each do |product| %>
                    <div class="col-xs-10 col-sm-3 col-md-2 col-lg-3" style="margin-bottom: 30px;">
                      <%= render_product_image(product) %>
                      <%= product.title %><span style="color:#ef0568;">  ￥<%= product.price %></span>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!-- End tab-content -->
      </div>
    </div>
  </div>
</div>
