<!DOCTYPE html>
<html>
  <head>
    <title>JDStoreMg</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid content">
      <%= render "common/navbar" %>
      <div class="container">
        <%= render "common/flashes" %>
        <%= yield %>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
